@charset "UTF-8";
/* CSS Document */
*{
    box-sizing: border-box ;
}
body{
    background: url("bub.jpg") no-repeat fixed top content-box
}

#container{
    width: 400px;
    
    margin: 0 auto;
}
.left{
    width: 160px;
    height: 80px;
    background-color: mediumturquoise;
    border-radius: 25px;
    float: left;
    margin: 0px 10px 10px 0px;
}
.right{
    width:160px;
    height: 80px;
    background-color: mediumturquoise;
    border-radius: 25px;
    float: left;
    margin: 0px 10px 10px 0px;
}
footer{
    background-color: rgb(209, 135, 108);}