@charset "UTF-8";
/* CSS Document */
*{
    box-sizing: border-box ;
}
body{
    background: url("bub\ 2.PNG") no-repeat fixed top right;
}

#container{
    width: 600px;
    
    margin: 0 auto;
}
.left{
    width: 190px;
    height: 120px;
    background-color: mediumturquoise;
    border-radius: 25px;
    float: left;
    margin: 0px 10px 10px 0px;
    padding: 20px 20px 20px 20px;
    border: solid chocolate;
    display: none;
    
}
.right{
    width:190px;
    height: 120px;
    background-color: mediumturquoise;
    border-radius: 25px;
    float: left;
    margin: 0px 10px 10px 0px;
    padding: 20px 20px 20px 20px;
    border: solid chocolate;
    
}
footer{
    background-color: rgb(209, 135, 108);
    clear: both;}

    header > h1{text-align: center; color: #000
        ;}
    #container .right{background-color: bisque;}
        